@model IEnumerable<NettbankMVC.Models.Konto>

@{
    ViewBag.Title = "Kontoer";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Kontoer</h3>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.kontoid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kontonavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kundeid)
            </th>
            <th>Valg</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.kontoid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kontonavn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.saldo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kundeid)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Kontoer", new { id = item.kontoid }) |
                    @Html.ActionLink("Details", "Kontoer", new { id = item.kontoid }) |
                    @Html.ActionLink("Delete", "Kontoer", new { id = item.kontoid })
                </td>
            </tr>
        }

    </table>
    </div>
